<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google search meta tags-->
    <meta name="Title" content="JJ Keith">
    <meta name="Keywords" content="Web developer, front end, UX/UI developer">
    <meta name="Description" content="Portfolio of web developer JJ Keith">
    <meta name="Subject" content="Internet">
    <meta name="Language" content="English">
    <link rel="logo" type="image/jpg" href="http://www.jjkeith.net/images/jj-keith-logo-square.jpg">

    <!-- Social media unfurling -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="JJ Keith" />
    <meta property="og:description" content="Portfolio of web developer JJ Keith">
    <meta property="og:image" content="http://www.jjkeith.net/images/portfolio.png">
    <meta property="og:url" content="http://www.jjkeith.net">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jj_keith">
    <meta name="twitter:image" content="http://www.jjkeith.net/images/jj-keith-logo-square.jpg">
    <meta name="twitter:image:alt" content="JJ Keith">

    <!-- Load Favicons -->
    <link rel="icon" href="favicon.jpg" type="image/jpg" />
    <link rel="shortcut icon" href="favicon.jpg" type="image/jpg" />

    <!-- Sourcing in CSS -->
    <link rel='stylesheet' type="text/css" href="./styles/index.css">

    <!-- Sourcing in Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>

    <!-- Sourcing in fonts -->
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <!-- icon font -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <title>JJ Keith, web dev</title>

</head>

<body class="body">
    <script>
        // Google Analytics
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81822884-1', 'auto');
        ga('send', 'pageview');
    </script>
    <div id="portfolio" class="outer-wrapper" :class="{ 'mod-dark-theme': (theme === 'dark') }">
        <header class="topbar">
            <div class="topbar-content-wrapper">
                <h1 class="topbar-title">JJ Keith</h1>
                <h2 style="display: none">Front-end web developer</h2>
                <div class="main-links">
                    <!-- TODO abstract out link icon -->
                    <a v-for="(link, index) in navLinks" :key="index" :href="link.href" target="_blank" class="main-link"
                        :alt="link.alt" @mouseover="selectLink('header-' + index)" @mouseleave="selectLink(null)"
                        :style="getLinkStyle('header-' + index)">
                        <i class="fa-2x" :class="link.iconClass"></i>
                    </a>
                    <button class="main-menu-trigger" @click="toggleMenu" aria-ignore="true" @mouseover="selectLink('menu')"
                        @mouseleave="selectLink(null)" :style="getLinkStyle('menu')">
                        <i class="fas fa-chevron-down fa-3x"></i>
                    </button>
                    <div class="main-menu-wrapper" v-if="showMenu" id="menu" role="menu" aria-ignore="true">
                        <button class="main-menu-button" @click="toggleTheme(), showMenu = false" @mouseover="selectLink('theme-toggle')"
                            @mouseleave="selectLink(null)" :style="getLinkStyle('theme-toggle')">
                            Change to {{ theme === 'light' ? 'dark' : 'light' }} theme
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="rainbow-bar"></div>
        <div class="wrapper">
            <section class="about" id="about">
                <h2 class="salutation">Hiya!</h2>
                <p>I'm a front-end web developer in Los Angeles, CA, with a passion for clean, readable code;
                    mobile-first development; accessability; and excellent user experiences.</p>
                <p>This site was built with Vue and hand-coded styles, and is a work-in-progress.</p>
            </section>
            <hr>
            <section class="skills" id="skills">
                <h2>Skills</h2>
                <ul>
                    <li><strong>HTML5, CSS3, JavaScript ES6 | Vue, Vuex | React, Redux | Sass</strong></li>
                    <li>UI/UX | responsiveness | ADA/WCAG compliance</li>
                    <li>Foundation, Bootstrap, Material Design | XD, Sketch | Babel, Webpack | Animations, transitions</li>
                    <li>Agile workflow | Kanban, Jira, Asana | Shopify, WordPress | jQuery</li>
                    <li>Data-driven design | Device targeting | Github, Bitbucket</li>
                </ul>
            </section>
            <hr>

            <!-- TODO abstract out card component -->
            <section class="content-block" id="experience">
                <h2 class="content-block-header">Front-end Development Experience</h2>
                <div class="card" v-for="(company, index) in companies" :key="index">
                    <a class="card-link" :href="company.href" :target="[ company.href !== '' ? '_blank' : '_self' ]">
                        <img class="card-image" :src="company.imgSrc" alt="" />
                        <div class="card-body">
                            <h3 class="card-title" v-text="company.name"></h3>
                            <p class="card-caption" v-if="company.imgCaption" v-text="company.imgCaption"></p>
                            <ul :style="company.imgCaption ? {'margin-top': '0'} : ''">
                                <li v-for="bullet in company.bullets" v-html="bullet"></li>
                            </ul>
                        </div>
                    </a>
                </div>
            </section>
            <hr>
            <section class="content-block" id="projects">
                <h2 class="content-block-header">Projects/Freelance</h2>
                <div class="card" v-for="(project, index) in projects" :key="index">
                    <a class="card-link" :href="project.href" :target="[ project.href !== '' ? '_blank' : '_self' ]">
                        <img class="card-image" :src="project.imgSrc" alt="" />
                        <div class="card-body">
                            <p class="card-title" v-text="project.name"></p>
                            <p v-text="project.description" :style="project.imgCaption ? {'margin-top': '0'} : ''"></p>
                        </div>
                    </a>
                </div>
            </section>
            <hr>
            <!-- TODO Move these pages into the vue framework -->
            <section class="other">
                <h2>Writing</h2>
                <p>
                    I have contributed essays to dozens of publications, ranging from <i>Reader's Digest</i> to <i>Bitch
                        Magazine</i> and published a book of essays. At some point in the future, I'll get back to
                    writing &mdash; hopefully about coding
                    &mdash; but right now I'm using all of my creative and analytical energy on web development. In the
                    meantime, for a partial list of my publications go <a class="body-link" href="writing.html">here</a>
                    and for
                    information
                    about my book go <a class="body-link" href="book.html">here</a>.
                </p>
            </section>
        </div>

        <div class="rainbow-bar"></div>
        <footer class="footer">
            <p>&copy; JJ Keith, 2020
                <a v-for="(link, index) in navLinks" :key="index" :href="link.href" target="_blank" class="main-link"
                    :alt="link.alt" @mouseover="selectLink('footer-' + index)" @mouseleave="selectLink(null)" :style="getLinkStyle('footer-' + index)">
                    <i :class="link.iconClass"></i>&ensp;<span v-text="link.alt"></span>
                </a>
                <a href="./JJ_Keith_Front-end_Developer_February.pdf" class="main-link" download="JJ Keith's resume"
                    @mouseover="selectLink('footer-download')" @mouseleave="selectLink(null)" :style="getLinkStyle('footer-download')">
                    <i class="fas fa-download"></i>&ensp;Résumé
                </a>
        </footer>
    </div>
    <script src="js/scripts.vue"></script>
</body>