<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JJ Keith's Resume</title>
  </head>

  <!-- Sourcing in Materialize -->
    <link rel="stylesheet" href="../styles/materialize.min.css">
    <script src="../js/materialize.min.js"></script>

  <!-- Sourcing in fonts -->
    <!-- primary font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <!-- icon font -->
    <script src="https://use.fontawesome.com/5a919c595e.js"></script>

  <!-- CSS Styling -->
  <style media="screen">
    body {
      font-family: 'Quicksand', sans-serif;
    }
    dt, a {
      font-weight: bold;
      color: #bf360c;
    }
  </style>

  <body>

<div class="container">

    <nav>
      <div class="nav-wrapper deep-orange darken-4">
        <a href="#" class="brand-logo">JJ KEITH</a>
        <ul class="right">
          <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <li><a href="tel:+1-323-404-5894"><i class="fa fa-phone" aria-hidden="true"></i> (323) 404-5894</a></li>
          <li><a href="mailto:jj@jjkeith.net"><i class="fa fa-envelope" aria-hidden="true"></i> jj@jjkeith.net</a></li>
          <li><a href="http://www.linkedin.com/in/jjkeith"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="http://github.com/jjkeith"><i class="fa fa-github" aria-hidden="true"></i></a></li>


        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col s12">
        <h5>Relevant Projects</h5>
          <dl>
            <a href="http://jjkeith.github.io/Bright-Lights-Big-Kitty/"><dt>Bright Lights, Big Kitty: </dt></a>
            <dd>A logic-driven card game build with JavaScript, HTML and CSS.</dd>

            <a  href="https://github.com/jjkeith/Pokemon-Book"><dt>Pokémon Book: </dt></a>
            <dd>A full-CRUD, Bootsrapped, Ruby on Rails-created website that allows users to create an account and maintain a list of their favorite Pokémon.</dd>

            <a  href="https://morning-stream-20505.herokuapp.com/"><dt>Near Hear</dt></a>
            <dd>A team-built Node.js-based site utilizing Google Maps and Bands in Town APIs that allows users to find concerts happening near them and get ticket information.</dd>

            <a  href="https://emojinationapp.herokuapp.com/#/"><dt>Emojination</dt></a>
            <dd>A MEAN-stack app that allows users to write stories based on emoji prompts. Featured Materialize formatting that cycled through color schemes randomly with each click and content that was served up with some randomization.</dd>
          </ul>
      </div>
    </div>

<div class="row">
  <div class="col s7">

    <h5>Professional Experience</h5>
      <dl>
        <dt>POPP@ARTC (2014-2016)</dt>
        <dd>Taught social studies and targeted writing courses to secondary and postsecondary students seeking careers in law enforcement. Chief accomplishment was a Penn in the Classroom fellowship that culminated with students producing a self-published a book of their own writing.</dd>

        <dt>Tripepi Smith &amp; Associates (2015)</dt>
        <dd>Conducted two ten-week professional development workshops to engineers at the Port of Long Beach. Using WordPress-administered quizzes to monitor progress, guided participants towards greater clarity and precision in their business communications.</dd>

        <dt>Gnomon (2012-2014)</dt>
        <dd>Helped a postsecondary school change their accreditor, including updating their in-house documentation and drafting accreditation applications. Other duties included scheduling extension and program courses — including seeking out and implementing new courses and instructors — and organizing career-focused events for a diverse and highly technical student body.</dd>

        <dt>USC (2006-2010)</dt>
        <dd>Over three years, progressed from being a fully funded teaching assistant in the Anthropology Department to a full-time lecturer in the Writing Department. Duties ranged from leading discussion sections to overseeing a group of junior instructors and hosting workshops on teaching standards. Earned high evaluations from students and developed curricula that reflected cultural change.</dd>

        <dt>Freelance writer (2005-2016)</dt>
        <dd>Built an audience by contributing personal essays and stories to a variety of websites and publications, including Reader's Digest, Salon, the Sunday Morning Herald, the Huffington Post, and others. Additionally, provided ghost writing and copy editing services for a number of clients, including popular business book agency Business Ghost and a New York Times-bestselling author. Published a book of essays in two countries and as an audiobook.</dd>
      </dl>
    </div>

  <div class="col s5">
    <h5>Skills</h5>
      <dl>
        <dt>Languages</dt>
        <dd>JavaScript | Ruby</dd>

        <dt>Web Application Frameworks</dt>
        <dd>Rails | Node | Express | Angular | Ajax</dd>

        <dt>Mobile Application Framework</dt>
        <dd>Ionic</dd>

        <dt>Front-end Frameworks</dt>
        <dd>HTML4 | CSS3 | SASS | Bootstrap | Materialize | Pure CSS | Foundation | Semantic UI</dd>

        <dt>JavaScript Libraries</dt>
        <dd>jQuery | Angular | Socket.io</dd>

        <dt>Databases</dt>
        <dd>PostgreSQL | MongoDB</dd>

        <dt>Version Control</dt>
        <dd>Git | GitHub</dd>

        <dt>Content Management Systems</dt>
        <dd>WordPress | Refinery</dd>

        <dt>Additional Skills</dt>
        <dd>Agile workflow/SCRUM | SEO | social media | writing | instruction | editing | storytelling | public speaking</dd>
      </dl>

      <h5>Education</h5>
      <dl>
        <dt>University of California at Berkeley</dt>
        <dd>Bachelor of Arts in anthropology, 2000</dd>

        <dt>University of Southern California</dt>
        <dd>Master of Professional Writing, emphasis in nonfiction, 2008</dd>

        <dt>General Assembly</dt>
        <dd>Santa Monica campus, full-stack web development, 2016</dd>
      </dl>
    </div>
  </div>
</div>

  </body>
</html>
