@keyframes rainbow-cycle {
  0% {
    background-position: 90% 0; }
  50% {
    background-position: 10% 100%; }
  100% {
    background-position: 90% 0; } }
.body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
  position: relative; }

.topbar {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem; }
  .topbar .topbar-title,
  .topbar .topbar-links {
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0; }
  .topbar .topbar-links {
    padding-top: 0.375rem;
    text-align: right; }
    .topbar .topbar-links .topbar-link {
      color: #fff;
      padding-right: 2rem;
      text-decoration: none; }
      @media (max-width: 639px) {
        .topbar .topbar-links .topbar-link {
          padding: 0 0 0 0.75rem; } }

.rainbow-bar {
  -webkit-animation: rainbow-cycle 10ms ease infinite;
  animation: rainbow-cycle 30s ease infinite;
  background: -webkit-gradient(linear, right top, left top, from(#f00, #ff0, #00FF00, #00ffff, #0000ff, #f0f));
  background: -webkit-linear-gradient(right, #f00, #ff0, #00FF00, #00ffff, #0000ff, #f0f);
  background: -o-linear-gradient(right, #f00, #ff0, #00FF00, #00ffff, #0000ff, #f0f);
  background: linear-gradient(270deg, #f00, #ff0, #00FF00, #00ffff, #0000ff, #f0f);
  background-size: 1200% 1200%;
  display: block;
  height: 0.5rem;
  width: 100%; }

.wrapper {
  margin: 0 auto;
  max-width: 1184px;
  padding: 0.5rem; }

.salutation {
  font-size: 4rem;
  margin: 2rem 0; }
  @media (max-width: 639px) {
    .salutation {
      font-size: 2rem; } }

.intro {
  font-size: 1.125rem;
  margin-bottom: 2rem; }
  @media (max-width: 639px) {
    .intro {
      font-size: 1rem; } }
  .intro li {
    padding-bottom: 0.75rem; }

.about,
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.card {
  background-color: #f2f2f2;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  margin-bottom: 2rem;
  width: calc( 33.3333% - 2rem ); }
  @media (max-width: 1023px) {
    .card {
      width: calc( 50% - 1rem ); } }
  @media (max-width: 639px) {
    .card {
      width: 100%; } }
  .card .card-link {
    color: #000;
    text-decoration: none; }
    .card .card-link .card-image {
      border-bottom: 1px solid #e6e6e6;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      height: auto;
      width: 100%; }
    .card .card-link .card-body {
      padding: 0.5rem; }
      .card .card-link .card-body .card-title {
        font-size: 1.25rem;
        font-weight: 700; }

.about .about-img-wrapper {
  max-width: calc( 25% - 2rem ); }
  @media (max-width: 639px) {
    .about .about-img-wrapper {
      max-width: 50%;
      display: block; } }
  .about .about-img-wrapper .about-img {
    height: auto;
    width: 100%; }
.about .about-text {
  max-width: calc( 75% - 2rem); }
  @media (max-width: 639px) {
    .about .about-text {
      max-width: 100%;
      display: block; } }

.publication-list li {
  padding-bottom: 0.5rem; }

.footer {
  background-color: #000;
  color: #fff;
  margin: 2rem auto;
  padding: 1.5rem 0.5rem;
  text-align: center; }
  .footer a {
    color: #fff;
    text-decoration: none; }

/*# sourceMappingURL=index.css.map */
