
//variables
$background-color:  #f5f5f5;
$header-color: #010101;
$text-color: #003246;
$link-color: #0387b1;


//utility classes

.mt0 {
  margin-top: 0;
}

// Site-wide Styles

.container {
  color: $text-color;
  margin-top: 1rem;
}

body {
  background-color: $background-color;
  font-family: 'Oxygen', sans-serif;
}


h1 {
  font-family: 'Comfortaa', cursive;
}

@media (max-width: 993px) {
  main {
    padding-left: 100px;
  }
}

// desktop nav styles

.navbar-jj {
  color: $background-color;
  font-family: 'Comfortaa', cursive;
  padding: 0 1.5rem;
}

  // mobile nav styles
.side-nav {
  padding: 0 1rem;
}

  .pro-pic.mod-menu {
    padding: 2rem;
  }

  .side-nav > .side-nav-header {
    color: $link-color;
    margin-left: 1rem;
  }

    li.side-nav-item > a {
      color: $text-color;
      font-size: 1.25rem;
      height: 64px;
    }

      li.side-nav-item > a > i {
        color: $text-color;
      }

// projects styles

.project-card.card-action {
  color: $background-color;
  font-family: 'Comfortaa', cursive;
}

  .card-content {
    color: $text-color;
  }


.media-links {
  height: 200px;
  margin-top: 50px;
}

// Resume styles


a {
  color: $link-color;
}

.profile-text, li {
  text-align: justify;
}

h5 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}