// Todo: Small media queries are not working; bug test


// Variables
$accent-color: #993366;
$header-background: #e1e1e1;
$body-background: #fff;
$card-background: #fff;
$accent-font-family: 'Comfortaa', cursive;
$font-family: 'Oxygen', sans-serif;
$border-radius: 6px;

// Media Queries
$small-screens: "only screen and ( max-width: 640px )";
$medium-screens: "only screen and ( max-width: 1024px ) and ( min-width: 641px )";

$medium-breakpoint: 640px;
$large-breakpoint: 1024px;
$xlarge-breakpoint: 1280px;

@mixin large-screens {
  @media ( max-width: #{$xlarge-breakpoint - 1} ) {
    @content;
  }
}

@mixin medium-screens {
  @media ( max-width: #{$large-breakpoint - 1px} ) {
    @content;
  }
}

@mixin small-screens {
  @media ( max-width: #{$medium-breakpoint - 1px} ) {
    @content;
  }
}

// Link color mixin
@mixin link-color {
  a {
    color: #993366;
    &:visited,
    &:active,
    &:focus {
      color: darken(#993366, 10%);
    }
    &:hover {
      color: lighten(#993366, 10%);
    }
  }
}

// Header Styles

.heading {
  background-color: $header-background;
  border-bottom: 1px solid $header-background;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.heading__name {
  @include link-color();
  font-family: $accent-font-family;
  font-size: 2rem;
  height: 2rem;
  margin: 0;
  a {
    text-decoration: none;
  }
}

.menu {
  list-style: none;
  text-align: right;
  margin: 0;
}

.menu__menu-item {
  display: inline-flex;
  margin-left: 1.5rem;
  &:first-child {
    margin-left: 0;
  }
}

.menu-item__link {
  color: $accent-color;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -ms-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  &:active,
  &:visited,
  &:hover {
    color: rgba( $accent-color, 0.7 );
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
  }
}


// Generalized Body Styles

.body {
  font-family: $font-family;
  font-size: 1rem;
  margin: 0;
  position: relative;
}

.img {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 3rem;
  padding: 1rem 20%;
  position: relative;
  min-height: 15rem;
  clear: both;
  > * {
    vertical-align: middle;
  }
  @include large-screens() {
    padding-right: 1rem;
  }
  @include medium-screens() {
    padding: 1rem;
    margin: 0 auto;
  }
}

.container__heading {
  background-color: $accent-color;
  color: $body-background;
  font-family: $accent-font-family;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  -webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 1%);
  clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 1%);
  padding: 1rem;
  position: absolute;
  top: 10rem;
  left: 2%;
  width: 10%;
  -webkit-transform: rotate( 330deg );
  -moz-transform: rotate( 330deg );
  -ms-transform: rotate( 330deg );
  -o-transform: rotate( 330deg );
  transform: rotate( 330deg );
  &:hover {
    -webkit-transform: rotate( 30deg );
    -moz-transform: rotate( 30deg );
    -ms-transform: rotate( 30deg );
    -o-transform: rotate( 30deg );
    transform: rotate( 30deg );
  }
  @include medium-screens() {
    background-color: transparent;
    width: auto;
    color: $accent-color;
    position: relative;
    display: block;
    font-size: 2rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    clip-path: none;
    top: 0;
    left: 0;
    margin: 1rem -1rem 1rem -1rem;
    text-align: left;
    &:hover {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    @include small-screens() {
      width: auto;
    }
  }
}

.container__subheading {
  font-family: $accent-font-family;
  font-weight: bold;
  font-size: 2rem;
  color: $accent-color;
}

.container__img-wrapper {
  margin: 1rem;
  max-width: calc(30% - 2rem);
  display: inline-block;
  @include large-screens() {
    max-width: calc( 40% - 2rem );
  }
  @include medium-screens() {
    max-width: 60%;
    margin: 0 15%;
  }
}

.container__text-wrapper {
  @include link-color();
  margin-left: 1rem;
  max-width: calc( 70% - 2rem );
  display: inline-block;
  text-align: justify;
  @include large-screens() {
    max-width: calc( 60% - 2rem );
  }
  @include medium-screens() {
    max-width: 80%;
    margin: 0 10%;
    text-align: left;
    @include small-screens {
      max-width: 100%;
      margin: 0;
      //text-align: left;
    }
  }
}

.container__button {
  color: $body-background;
  background: $accent-color;
  font-family: $accent-font-family;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $body-background;
    background: rgba( $accent-color, 0.7 );
  }
}

.container__list {
  @include link-color();
  list-style: none;
  line-height: 2;
  padding-left: 0;
  @include small-screens() {
    line-height: 1.5;
    li {
      padding-bottom: 0.5rem;
    }
  }
}

.card {
  background-color: $card-background;
  border: 1px solid $header-background;
  margin: 0 1rem 1rem 0;
  border-radius: $border-radius;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  max-width: calc( 33% - 1rem);
  float: left;
  text-align: center;
  height: 25rem;
  @include medium-screens() {
    //max-width: calc( 50% - 2rem );
    background-color: $header-background;
    max-width: 100%;
    margin-right: 0;
    height: auto;
  }
  @include small-screens() {
    max-width: 100%;
    margin-right: 0;
  }
}

.card__image {
  width: 100%;
  height: auto;
  -webkit-border-radius: $border-radius $border-radius 0 0;
  -moz-border-radius: $border-radius $border-radius 0 0;
  border-radius: $border-radius $border-radius 0 0;
}

.card__title {
  font-family: $accent-font-family;
  font-size: 1.25rem;
  color: $accent-color;
  text-align: center;
}

.card__body {
  padding: 0 1rem 1rem;
  text-align: justify;
  border-top: 1px solid $header-background;
  @include medium-screens() {
    text-align: left;
  }
}


// Img modifiers

.img--about {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}


// Text Modifiers

.text--paragraph {
  margin: 1rem 0;
}

.text--generic {
  @include link-color();
  margin-top: 3rem;
}

// Button modifiers

.button--back-arrow {
  padding: 2rem 1rem 2rem 3rem;
  -webkit-clip-path: polygon(25% 0, 25% 20%, 100% 20%, 100% 80%, 25% 80%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0, 25% 20%, 100% 20%, 100% 80%, 25% 80%, 25% 100%, 0% 50%);
}