body, .side-nav {
  font-family: 'Quicksand', sans-serif;
}
#summary, #media-links {
  height: 150px;
}
.icon :hover {
  color: black;
}

nav, .brand-logo {
  /*padding: 10px;*/
}

dt, a {
    color: #bf360c;
  }
