body {
  font-family: 'Oxygen', sans-serif;
  color: #666;
}
nav {
  height: 100px;
}

@media (max-width: 993px) {
  main {
    padding-left: 100px;
  }
}

.brand-logo {
  padding-left: 10px;
}

dt, a {
  color: #bf360c;
}

#media-links {
  height: 200px;
}

.icon :hover {
  color: #ffab91;
}
